Package: keyup
Version: 0.0.0
Section: devel
Priority: optional
Maintainer: Blake Huber <blakeca00@gmail.com>
Bugs: ISSUES_URL
Installed-Size: 182 kB
Build-Depends: debhelper (>=9)
Depends:  DEPLIST
Download-Size: 48 kB
Standards-Version: 3.9.6
Architecture: BUILD_ARCH
Description:  Instantly know status of the current git working branch
  keyup is a utility for use with git version control. keyup
  provides user access to advanced  git features without requiring any
  knowledge of advanced git syntax.
  .
  branch diff features:
    * Illustration of differences between current working branch and master branch
    * Details when commits were made to the current branch, by whom
    * Summary statistics for all commits
    * Advanced file difference illustration between branches
Homepage: PROJECT_URL
